@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --ONE: #734060;
  --TWO: #4d4d4d;
  --THREE: #edb654;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ONE: var(--ONE);
  --color-TWO: var(--TWO);
  --color-THREE: var(--THREE);
  --font-sansita: var(--font-sansita);
  --font-bitter: var(--font-bitter);

}


/*
-- unncomment this for dark mode
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bitter);

}

.hov {
  @apply hover:underline underline-offset-[5px] decoration-pink-600 hover:text-ONE decoration-1  cursor-pointer
}

.minidiv {
  @apply w-[40%] md:w-[65%] xl:w-[65%] mx-auto;
}

section {
  @apply w-[90%] md:w-[84%] xl:w-[86%] mx-auto;
}

@layer utilities {
  [data-flex="center"] {
    @apply flex items-center justify-center;
  }

  [data-flex="between"] {
    @apply flex items-center justify-between;
  }

  [data-flex="col"] {
    @apply flex flex-col;
  }

  [data-flex="col-center"] {
    @apply flex flex-col items-center justify-center;
  }
}